
body{
  margin: 0;
  padding: 0;
  background-color: antiquewhite;
  background-repeat: no-repeat;
  
}

.modal-container{
  width: 100%;
  height:100% ;
  background-color: yellow;
}

.container{
  width: 100%;
  height: 800px;
  background: url(background1.jpg);
  background-size: contain;
  animation: bckg 30s linear infinite;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

#score{
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  padding:100px 0 0 50px;
  color: #000;
}

#word-count{
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  padding:100px 0 0 50px;
  color: #000;
}

.man,img,.road, .zombie, .zombie-dead{
  position: absolute;
}

.road{
  top: 61%;
  height: 318px;
  width: 1790px;
  background: url(Road.jpg) repeat-x;
  animation: road 20s linear infinite;
}

.man{
  top: 45%;
  overflow: hidden;
  left: 10%;
  height: 318px;
  width: 170px;
  background:url(Man.png);
  animation: man 1s steps(8) infinite;
  /* z-index: 100; */
}

#zombie-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.zombie{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction:row-reverse;
top: 62%;
right: 23%;
height: 300px;
width: 200px;
background-repeat: no-repeat;
/* background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_000\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_001\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_002\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_003\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_004\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_005\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_006\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_007\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_008\ copy.png),
                  url(/copy/__Zomhie\ Attack\ 1_WALK_009\ copy.png); */
animation: zombie 0.5s infinite linear, forward 5s linear infinite ;
animation-fill-mode: forwards;
z-index: 1;
background-position: top center;
}

/* .zombie-dead{
  top: 62%;
  right: 20%;
  height: 300px;
  width: 210px;
  /* background: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_004.png),
              url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_005.png),
              url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_006.png),
              url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_007.png),
              url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_008.png),
              url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_009.png); */

  /* animation: zombieDead 0.5s linear;
  background-repeat: no-repeat;
  animation-fill-mode: forwards;
} */ 

/* .word-display-dead{
  display: none;
} */

.word-display{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin:0;
  background-color: #000;
  border-radius: 10px;
  width: auto;
  padding:0 30px;
}


.user-input{
  display: flex;
  margin: 50px 0 0 25%;
}

#user_input{
  width: 800px;
  height: 81px;
  margin-top: 18px;
  font-size: 40px;
  text-align: center;
  border: 10px solid teal;
}

.user-input button{
  width: 100px;
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
  height: 90px;
  margin-top: 17px;
}


/* classes for use via DOM */
.correct{
  color: greenyellow;
}

/* keyframes */

@keyframes man{
  from{
    background-position: 0px;
  }
  to{
    background-position: -1472px;
  }
}

@keyframes bckg{
  0%{
    background-position: 0%;
  }100%{
    background-position: -98%;
  }
}

@keyframes road {
  0%{
    background-position: 0%;
  }100%{
    background-position: -98%;
  }
}


@keyframes zombie{
0%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_000\ copy.png)
}
10%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_001\ copy.png)
}
20%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_002\ copy.png)
}
30%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_003\ copy.png)
}
40%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_004\ copy.png)
}
50%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_005\ copy.png)
}
60%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_006\ copy.png)
}
70%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_007\ copy.png)
}
80%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_008\ copy.png)
}
90%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_009\ copy.png)
}
100%{
  background-image: url(/copy/__Zomhie\ Attack\ 1_WALK_000\ copy.png)
}}


@keyframes zombieDead{
0%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_004.png);
  }
  20%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_005.png);

  }
  40%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_006.png);

  }
  60%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_007.png);

  }
  80%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_008.png);

  }
  90%{
    background-image: url(/zombie_dead/__Zomhie\ Attack\ 1_DEAD_009.png);
  }
  100%{
    display: none;
   }}


@keyframes forward {
  from{
    transform:translateX(400px);
  }to{
    transform:translateX(-1000px)
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: rgb(53, 180, 180);
}

.modal-content > h1{
  font-size: 80px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  
}

.enlarge{
  font-weight: bold;
  font-size:40px ;
}

.intro-msg{
  font-size:35px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.outro-msg{
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Luckiest Guy', cursive;
}

.final-msg{
  font-size:25px;
  text-align: center;
  padding-top: 30px;
  font-family: 'Luckiest Guy', cursive;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}